%p
  Sehr geehrte Damen und Herren,

%p
  Handbook Germany (
  = link_to 'www.handbookgermany.de', 'https://handbookgermany.de/de.html'
  ) ist eine von der Beauftragten der Bundesregierung für Migration, Flüchtlinge
  und Integration geförderte Plattform für Menschen mit Flucht- und Migrationserfahrung, 
  die Informationen und Hilfsangebote zum Ankommen und Leben in
  Deutschland in acht verschiedenen Sprachen zur Verfügung stellt. Wir sind
  ein Projekt des Neuen deutsche Medienmacher*innen e.V. (
  = link_to 'www.neuemedienmacher.de', 'https://www.neuemedienmacher.de/'
  ).

%p
  Auf der Plattform gibt es eine Suchmaschine, mit deren Hilfe Zugewanderte mit
  Unterstützungsbedarf konkrete und zielgruppenspezifisch aufbereitete
  Hilfsangebote in ihrer Nähe finden können. Auf diese Weise schließen wir die
  Lücke zwischen Angebot und Nachfrage und bringen soziale Organisationen und
  Hilfesuchende zusammen. Aktuell haben wir fast 5000 Angebote aus 11 Städten in
  unserer Datenbank und planen in naher Zukunft weitere Städte und Regionen
  aufzunehmen. Die Aufnahme in die Datenbank und die Nutzung der Suchmaschine
  sind und bleiben kostenlos.


%p
  Für jedes Angebot erfassen wir die auf Ihrer Webseite angegebenen Informationen
  wie Anschrift, Öffnungszeiten, Namen von Kontaktpersonen, Kontaktdaten
  (E-Mail, Telefon, Fax), Beratungssprachen und weitere relevante Informationen
  und ordnen jedes Angebot einem bestimmten Bereich zu, um die Suche für die
  Nutzer*innen zu vereinfachen. Wir nehmen aktuell Angebote für die Bereiche
  Asyl & Recht, Bildung, Arbeit, Wohnen, Gesundheit, Freizeit, soziale Kontakte,
  Gewalt & Rassismus auf.

%p
  %b
    Aufgrund der aktuellen Datenschutzbestimmungen möchten wir Ihre Einwilligung
    einholen, dass wir Ihre Angebote aufnehmen dürfen. Ihre Zustimmung oder
    Ablehnung können Sie bis zum
    = succeed ' ' do
      = @reply_date
    über
    = succeed ' ' do
      = link_to 'diesen Link', @tos_href
    ausdrücken. Dort sehen Sie auch Ihre bereits aufgenommenen Angebote. Bitte
    beachten Sie, dass wir Ihre Emailadresse und Ihren Namen aus
    datenschutzrechtlichen Gründen aktuell entfernt haben. Im Fall Ihrer
    Zustimmung bleiben Ihre Angebote in der Datenbank sichtbar und werden in
    naher Zukunft ergänzt und aktualisiert.

%p
  %b
    Falls Sie Fragen dazu oder Änderungswünsche bezüglich Ihrer Daten haben,
    melden Sie sich gerne bei uns unter
    = succeed '.' do
      = link_to 'localsearch@handbookgermany.de', 'mailto:localsearch@handbookgermany.de'

%p
  Mit der Einwilligung werden Sie weiterhin:

%p
  %li
    In der größten deutschlandweiten Datenbank sozialer Organisationen vertreten
    sein.
  %li
    Einfacher für Ihre Zielgruppe aufzufinden sein und so Ihre Reichweite erhöhen.
  %li
    Für Kooperationspartner und Förderer sichtbar sein.

%p
  Wir freuen uns auf die weitere Zusammenarbeit mit Ihnen und verbleiben mit
  freundlichen Grüßen aus Berlin,

%p
  Sabine Roßmann


%p
  %small
    Handbook Germany
    %br
    Ein Projekt des Neue deutsche Medienmacher*innen e.V., Potsdamer Str. 99, 10785 Berlin
    %br
    Redaktion: Prinzenstraße 103, 10969 Berlin
    %br
    Telefon: 030 – 355 271 24
    %br
    localsearch@handbookgermany.de
    %br
    = link_to 'www.handbookgermany.de/', 'https://handbookgermany.de/de.html'
