%p
  - if @vague_title
    Sehr geehrte Damen und Herren,
  - elsif @contact_person.last_name?
    - if @contact_person.gender == 'male'
      Lieber Herr
    - else
      Liebe Frau
    = succeed ',' do
      = @contact_person.last_name
  - elsif @contact_person.first_name?
    - if @contact_person.gender == 'male'
      Lieber
    - else
      Liebe
    = succeed ',' do
      = @contact_person.first_name

%p
  kennen Sie
  = link_to( t(".clarat_name.#{@section_suffix}"), t(".link_url.#{@section_suffix}") )
  = t(".paragraph_entry.#{@section_suffix}",
    root_link: '||',
    offer_text: @offers_teaser ? t('.offer_text_multiple') : t('.offer_text', count: @offers.count) ).split('||').last
- if @singular_section
  %p
    - if @offers_teaser
      = t(".list_entry_teaser.singular",
          section_name: t(".clarat_name.#{@section_suffix}"))
    - else
      = t(".list_entry",
          section_name: t(".clarat_name.#{@section_suffix}"),
          count: @offers.count)
    %p
    - @offers.each do |offer|
      %li
        = link_to( offer.name.strip, t(".link_url.#{@section_suffix}") + '/angebote/' + (offer.slug || offer.id.to_s) )

  %p
    - @section_suffix.split('_').each do |section|
      = link_to( t(".paragraph_overview_link_text"), t(".link_url.#{section}") + @overview_href_suffix )
      = t(".paragraph_overview_link_html", section_name: t(".clarat_name.#{section}"))
- else
  - @section_suffix.split('_').each do |section|
    - if @offers_teaser
      = t(".list_entry_teaser.#{@offers_teaser ? 'multiple' : 'singular'}",
          section_name: t(".clarat_name.#{section}"))
    - else
      = t(".list_entry",
          section_name: t(".clarat_name.#{section}"),
          count: @offers.count)
    %p
    - @offers.each do |offer|
      - if offer.in_section? section
        %li
          = link_to( offer.name.strip, t(".link_url.#{@section_suffix}") + '/angebote/' + (offer.slug || offer.id.to_s) )
    %p
      = link_to( t(".paragraph_overview_link_text"), t(".link_url.#{section}") + @overview_href_suffix )
      = t(".paragraph_overview_link_html", section_name: t(".clarat_name.#{section}"))
%p
  = t(".paragraph_found_error",
      section_name: t(".clarat_name.#{@section_suffix}"))
  - if @offers_teaser
    = t(".paragraph_split_explanation",
        section_name: t(".clarat_name.#{@section_suffix}"))
  - else
    = t(".paragraph_offers_missing.#{@section_suffix}")
%p
  = t(".paragraph_explain_html.main",
      section_name: t(".clarat_name.#{@section_suffix}"),
      foundation_link: '||').split('||').first
  = link_to 'Benckiser Stiftung Zukunft', 'http://www.benckiser-stiftung.org/'
  = t(".paragraph_explain_html.main",
      section_name: t(".clarat_name.#{@section_suffix}"),
      foundation_link: '||').split('||').last
  = t('.paragraph_explain_html.base',
    section_name: t(".clarat_name.#{@section_suffix}"))
  - if @section_suffix == 'family'
    = t('.paragraph_explain_html.video')
    = link_to 'Einführungsfilm', 'http://blog.clarat.org/einfach-hilfe-finden-unser-projekt-clarat-im-kurzfilm/'
    = t('.paragraph_explain_html.connector')
    = t('.paragraph_explain_html.blog')
    = link_to 'Blog.', 'http://blog.clarat.org'
  - elsif @section_suffix == 'refugees'
    = t('.paragraph_explain_html.blog')
    = link_to 'Blog.', 'http://blog.clarat.org'
  - else
    = t('.paragraph_explain_html.blog')
    = link_to 'Blog', 'http://blog.clarat.org'
    = t('.paragraph_explain_html.connector')
    = t('.paragraph_explain_html.video')
    = link_to 'Einführungsfilm.', 'http://blog.clarat.org/einfach-hilfe-finden-unser-projekt-clarat-im-kurzfilm/'

%p
  = t(".paragraph_improvements",
      section_name: t(".clarat_name.#{@section_suffix}"))

%p
  Mit freundlichen Grüßen
  %br
  das clarat Team

%p
  Anne Schulze

%p
  clarat
  %br
  ein Projekt der Benckiser Stiftung Zukunft
  %br
  Französische Straße 47
  %br
  10117 Berlin
  %br
  Tel.: +49 (0)30 55 57 96 00
  %br
  = link_to 'www.clarat.org', 'http://www.clarat.org'

%p
  PS Gerne informieren wir Sie, wenn mehr Ihrer Angebote online sind. Klicken Sie einfach
  = succeed '.' do
    = link_to 'hier', @subscribe_href
  Ansonsten erhalten sie keine Mails mehr von uns.
