%p
  - if @vague_title
    Sehr geehrte Damen und Herren,
  - elsif @contact_person.last_name?
    - if @contact_person.gender == 'male'
      Lieber Herr
    - else
      Liebe Frau
    = succeed ',' do
      = @contact_person.last_name
  - elsif @contact_person.first_name?
    - if @contact_person.gender == 'male'
      Lieber
    - else
      Liebe
    = succeed ',' do
      = @contact_person.first_name

%p
  kennen Sie
  = link_to( t(".clarat_name.family_refugees"), t(".link_url.family_refugees") )
  = t(".paragraph_entry.html")
%p
  - if @mainly_portal
    = t(".paragraph_portal_forward")
  - else
    = t(".paragraph_your_offers.html",
      offer_text: @offers_teaser ? t('.offer_text_multiple') : t('.offer_text', count: @offers.count) )
    = link_to( t(".clarat_name.#{@section_suffix}"), t(".link_url.#{@section_suffix}") )
    finden.
- if @singular_section
  %p
    - if @offers_teaser
      = t(".list_entry_teaser_prefix.singular")
      %b
        = t(".clarat_name.#{@section_suffix}")
      = t(".list_entry_teaser_suffix.singular")
    - else
      = t(".list_entry_prefix", count: @offers.count)
      %b
        = t(".clarat_name.#{@section_suffix}")
      = t(".list_entry_suffix", count: @offers.count)
    %p
    - @offers.each do |offer|
      %li
        = link_to( offer.name.strip, t(".link_url.#{@section_suffix}") + '/angebote/' + (offer.slug || offer.id.to_s) )

  %p
    - @section_suffix.split('_').each do |section|
      = t(".paragraph_overview_link_html_prefix")
      = link_to( t(".paragraph_overview_link_text"), t(".link_url.#{section}") + @overview_href_suffix )
      = t(".paragraph_overview_link_html_suffix", section_name: t(".clarat_name.#{section}"))
- else
  - @section_suffix.split('_').each do |section|
    - if @offers_teaser
      = t(".list_entry_teaser_prefix.#{@offers_teaser ? 'multiple' : 'singular'}")
      %b
        = t(".clarat_name.#{section}")
      = t(".list_entry_teaser_suffix.#{@offers_teaser ? 'multiple' : 'singular'}")
    - else
      = t(".list_entry_prefix", count: @offers.count)
      %b
        = t(".clarat_name.#{section}")
      = t(".list_entry_suffix", count: @offers.count)
    %p
    - @offers.each do |offer|
      - if offer.in_section? section
        %li
          = link_to( offer.name.strip, t(".link_url.#{section}") + '/angebote/' + (offer.slug || offer.id.to_s) )
    %p
      = t(".paragraph_overview_link_html_prefix")
      = link_to( t(".paragraph_overview_link_text"), t(".link_url.#{section}") + @overview_href_suffix )
      = t(".paragraph_overview_link_html_suffix", section_name: t(".clarat_name.#{section}"))
%p
  = t(".paragraph_found_error",
      section_name: t(".clarat_name.#{@section_suffix}"))
%p
  - if !@singular_section
    = t(".paragraph_split_explanation.additional")
  - elsif @offers_teaser
    = t(".paragraph_split_explanation.base")
%p
  = t(".paragraph_offers_missing")
%p
  = t(".paragraph_explain_html.main", foundation_link: '||').split('||').first
  = link_to 'Benckiser Stiftung Zukunft', 'http://www.benckiser-stiftung.org/'
  = t(".paragraph_explain_html.main", foundation_link: '||').split('||').last
  = t('.paragraph_explain_html.base')
  = link_to 'Blog', 'http://blog.clarat.org'
  = t('.paragraph_explain_html.video')
  = link_to 'clarat family Film.', 'http://blog.clarat.org/einfach-hilfe-finden-unser-projekt-clarat-im-kurzfilm/'
%p
  = t(".paragraph_improvements")

%p
  Mit freundlichen Grüßen
  %br
  das clarat Team

%p
  Anne Schulze

%p
  clarat gGmbH
  %br
  Französische Straße 47
  %br
  10117 Berlin
  %br
  Tel.: +49 (0)30 55 57 96 00
  %br
  = link_to 'www.clarat.org', t(".link_url.family_refugees")

= email_image_tag("logo_#{@section_suffix}.png")

%p
  PS Gerne informieren wir Sie, wenn mehr Ihrer Angebote online sind. Klicken Sie einfach
  = succeed '.' do
    = link_to 'hier', @subscribe_href
  Ansonsten erhalten Sie keine Mails mehr von uns.
