%p
  - if @vague_title
    Sehr geehrte Damen und Herren,
  - elsif @contact_person.last_name?
    - if @contact_person.gender == 'male'
      Lieber Herr
    - else
      Liebe Frau
    = succeed ',' do
      = @contact_person.last_name
  - elsif @contact_person.first_name?
    - if @contact_person.gender == 'male'
      Lieber
    - else
      Liebe
    = succeed ',' do
      = @contact_person.first_name
%p
  erinnern Sie sich noch an
  = link_to( t(".clarat_name.family_refugees"), t(".link_url.family_refugees") + @utm_tagging_suffix )
  = t(".paragraph_entry",
      root_link: '||',
      new_offers: t(".offer_text.#{@offer ? 'singular' : 'multiple'}") ).split('||').last

- if @offer
  %p
    = t(".list_entry", section_name: '||').split('||').first
    %b
      = t(".clarat_name.#{@section_suffix}")
    heißt:
    %p
      = link_to( @offer.name.strip, @offer_href + @utm_tagging_suffix )
    %p
      = t(".paragraph_found_error")
      - @section_suffix.split('_').each do |section|
        %p
          = t(".paragraph_overview_link_prefix")
          = link_to( t(".paragraph_overview_link_text"), t(".link_url.#{section}") + @overview_href_suffix + @utm_tagging_suffix )
          = t(".paragraph_overview_link_middle")
          %b
            = t(".clarat_name.#{section}")
          = t(".paragraph_overview_link_suffix")

- else
  - @section_suffix.split('_').each do |section|
    %p
      = t(".paragraph_overview_link_prefix")
      = link_to( t(".paragraph_overview_link_text"), t(".link_url.#{section}") + @overview_href_suffix + @utm_tagging_suffix )
      = t(".paragraph_overview_link_middle")
      %b
        = t(".clarat_name.#{section}")
      = t(".paragraph_overview_link_suffix")
  %p
    = t(".paragraph_found_error")
%p
  = t(".paragraph_offers_missing")
%p
  = t(".paragraph_vision")
%p
  Mit freundlichen Grüßen
  %br
  das clarat Team

%p
  Anne Schulze

%p
  clarat gGmbH
  %br
  Französische Straße 47
  %br
  10117 Berlin
  %br
  Tel.: +49 (0)30 55 57 96 00
  %br
  = link_to 'www.clarat.org', t(".link_url.family_refugees") + @utm_tagging_suffix

= email_image_tag("logo_#{@section_suffix}.png")

%p
  %small
    Sie wollen keine weiteren Infos mehr von uns bekommen? Dann klicken Sie
    = succeed '.' do
      = link_to 'hier', @unsubscribe_href
