%p
  - if @vague_title
    Sehr geehrte Damen und Herren,
  - elsif @contact_person.last_name?
    - if @contact_person.gender == 'male'
      Lieber Herr
    - else
      Liebe Frau
    = succeed ',' do
      = @contact_person.last_name
  - elsif @contact_person.first_name?
    - if @contact_person.gender == 'male'
      Lieber
    - else
      Liebe
    = succeed ',' do
      = @contact_person.first_name
%p
  erinnern Sie sich noch an
  = link_to( t(".clarat_name.#{@section_suffix}"), t(".link_url.#{@section_suffix}") )
  = t(".paragraph_entry.#{@section_suffix}",
      root_link: '||',
      new_offers: t(".offer_text.#{@offer ? 'singular' : 'multiple'}") ).split('||').last

- if @offer
  %p
    = t(".list_entry", section_name: t(".clarat_name.#{@section_suffix}"))
    %p
      = link_to( @offer.name.strip, @offer_href)
    %p
      = t(".paragraph_found_error")
      - @section_suffix.split('_').each do |section|
        %p
          = link_to( t(".paragraph_overview_link_text"), t(".link_url.#{section}") + @overview_href_suffix )
          = t(".paragraph_overview_link_html", section_name: t(".clarat_name.#{section}"))

- else
  - @section_suffix.split('_').each do |section|
    %p
      = link_to( t(".paragraph_overview_link_text"), t(".link_url.#{section}") + @overview_href_suffix )
      = t(".paragraph_overview_link_html", section_name: t(".clarat_name.#{section}"))
  %p
    = t(".paragraph_found_error")
%p
  = t(".paragraph_offers_missing.#{@section_suffix}")
%p
  = t(".paragraph_vision", section_name: t(".clarat_name.#{@section_suffix}"))
%p
  Mit freundlichen Grüßen
  %br
  das clarat Team

%p
  Anne Schulze

%p
  clarat
  %br
  ein Projekt der Benckiser Stiftung Zukunft
  %br
  Französische Straße 47
  %br
  10117 Berlin
  %br
  Tel.: +49 (0)30 55 57 96 00
  %br
  = link_to 'www.clarat.org', 'http://www.clarat.org'

%small
  Sie wollen keine weiteren Infos mehr von uns bekommen? Dann klicken Sie
  = succeed '.' do
    = link_to 'hier', @unsubscribe_href
